<!DOCTYPE html>
<html>
    <head>
        <style>
            .container {
            width: 800px;
            font-family: Arial, Helvetica, sans-serif;
            }

            p {
                margin: 10px 0;
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <span>Olá, {{name}},</span>
            <br/>
            <p>Você foi convidado para ministrar o curso de {{solicitation}}. Clique no link abaixo e acesse para mais detalhes.</p>

            <br/>
            <p><a href={{link}}>{{link}}</a></p>
            <br/>
            <br/>

            <strong>Obrigado!</strong>
            <br/>

            <h3>Equipe | <strong>Panorama EAD</strong></h3>
        </div>
    </body>
</html>