<!DOCTYPE html>
<html>
    <head>
        <style>
            .container {
            width: 800px;
            font-family: Arial, Helvetica, sans-serif;
            }

            span {
                margin: 10px 0;
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <span>Olá, {{name}},</span>
            <br/>
            <p>Você esqueceu da sua senha, mas não se preocupe, você já pode alterá-la. Clique no link abaixo e redefina sua senha.</p>

            <br/>
            <p><a href={{link}}>{{link}}</a></p>
            <br/>

            <p>Caso não tenha sido você que solicitou a alteração da senha, basta ignorar este e-mail.</p>
            <br/>

            <strong>Obrigado!</strong>
            <br/>

            <h3>Equipe | <strong>Panorama EAD</strong></h3>
        </div>
    </body>
</html>